@model PaylookReferral.Models.LoginModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

    string message = string.Empty;
    ModelState state = null;
    ViewData.ModelState.TryGetValue("Summary", out state);
    var hasErrors = state != null && state.Errors.Any();
    message = (state != null && state.Errors.Any()) ? state.Errors.First().ErrorMessage : string.Empty;

    var returnUrl = Request.Params["returnUrl"];
}


@using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @class = "enter" }))
{
    <input type="hidden" name="returnUrl" value="@returnUrl" />
   <div class="enter__fields">
                       
       @if (hasErrors)
        {
            <div class="message-error message-error_mod js-message">
                <strong>Ошибка!</strong>@message
                <button></button>
            </div>
        }
       
        @{message = string.Empty;
          state = null;
          ViewData.ModelState.TryGetValue("UserName", out state);
          hasErrors = state != null && state.Errors.Any();
          message = (state != null && state.Errors.Any()) ? state.Errors.First().ErrorMessage : string.Empty;
        }
        <fieldset class="@(hasErrors ? "error" : "")">
            <label for="enter-mail">Емейл</label>
            <p><strong>Ошибка:</strong>@message</p>
            @Html.TextBoxFor(m => m.UserName, new { id = "enter-mail" })

        </fieldset>
        @{
          message = string.Empty;
          state = null;
          ViewData.ModelState.TryGetValue("Password", out state);
          hasErrors = state != null && state.Errors.Any();
          message = (state != null && state.Errors.Any()) ? state.Errors.First().ErrorMessage : string.Empty;
        }
        <fieldset class="@(hasErrors ? "error" : "")">
            <label for="enter-pass">Пароль</label>
            <p><strong>Ошибка:</strong>@message</p>
            @Html.PasswordFor(m => m.Password, new { id = "enter-pass" })
        </fieldset>
       @* <div class="enter__info">
					<a href="/account/passwordreset?returnUrl=@(HttpUtility.UrlEncode(this.Request.Url.AbsoluteUri))" title="Восстановить забытый пароль">Восстановить забытый пароль</a>
		</div>*@
    </div>			

    <div class="enter__bottom">
        <div class="enter__btn">
            <button type="submit" class="btn-big"><strong>Войти</strong></button>
            <a href="/account/register" title="Регистрация нового пользователя">Регистрация нового пользователя</a>
        </div>
    </div>
    
    
}


@* <div>
        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
            <a href="passwordreset">Восстановить забытый пароль</a>
            <p>
                <input type="submit" value="Log On" />
            </p>
        </fieldset>
    </div>*@