@model PayLook.Models.PasswordResetModel
@{
    ViewBag.Title = "Восстановление пароля по адресу электронной почты";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    //var returnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl as string : Request.QueryString["returnUrl"];

    var status = TempData["Status"] as string;
}

@if (!string.IsNullOrEmpty(status))
{

    if (status == "success")
    {
    <div class="message-success js-message">
        <strong>Успех!</strong>На адрес <b>@TempData["Email"]</b> выслана ссылка для изменения пароля.
        <button></button>
    </div>       
    }
}

@using (Html.BeginForm("PasswordReset", "Account", FormMethod.Post, new { @class = "enter" }))
{
    <div class="enter__fields">
        @{
    string message = string.Empty;
    ModelState state = null;
    ViewData.ModelState.TryGetValue("UserName", out state);
    var hasErrors = state != null && state.Errors.Any();
    message = (state != null && state.Errors.Any()) ? state.Errors.First().ErrorMessage : string.Empty;    
        }
        <fieldset class="@(hasErrors ? "error" : "")">
            <label for="enter-mail">Емейл</label>
            <p><strong>Ошибка:</strong>@message</p>
            @Html.TextBoxFor(m => m.UserName, new { id = "enter-mail" })

        </fieldset>
        <div class="enter__info">
            <p>Введите адрес электронной почты, который вы указали при регистрации и нажмите кнопку «Восстановить пароль». Через несколько минут вам придет письмо со ссылкой для изменения пароля.</p>
        </div>

 
    </div>
    <div class="enter__bottom">
 
               <div class="enter__btn">
            <button type="submit" class="btn-big"><strong>Восстановить пароль</strong></button>
            <a href="/account/logon">Войти</a><span>или</span><a href="/account/register">зарегистрироваться</a>

        </div>
    </div>
}
@*@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Восстановление пароля</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            
            <p>
                <input type="submit" value="Восстановить пароль" />
            </p>
        </fieldset>
    </div>
}*@
